*.class
/bundles/**
.project
**/.settings
.classpath
**/bin
**/bundles
.gradle
.touch
gradlew
gradlew.bat
**/gradle
configs/*
libs/
**/build/
/reports/**
.DS_Store
.checkstyle
documents/activitylog.txt
bundle/
**/node_modules
package-lock.json
target/**